# Aqui solo deberan ir las dependencias especificas para este proyecto
msal==1.31.1
django-cors-headers==4.9.0
django-jsignature==0.12
python-jose==3.5.0
httpx==0.28.1
ninja-schema==0.14.3
django-select2==8.4.8
django-redis==6.0.0
django-debug-toolbar==6.2.0
channels[daphne]==4.3.2
channels-redis==4.3.0
django-eventstream==5.3.3
prek==0.3.2
uv==0.10.2
twisted[tls,http2]==26.4.0
requests>=2.32.5
rcssmin==1.1.1
rjsmin==1.2.2
