# URL del proyecto donde se realizaran las pruebas
URL_PROYECTO=https://test-demo.com/

# Usuario que se utilizara para acceder al sistema y realizar las pruebas
USER_ADMIN=admin
PASSWORD_ADMIN=admin
EMAIL_ADMIN=admin@admin.com
DEFAULT_PASSWORD="12345"

# Database settings
SQL_HOST=localhost
SQL_PORT=5432
SQL_USER=postgres
SQL_PASSWORD=ludens123
SQL_DBNAME=coveli

# Configuracione de Playwright
RECORD_SCREEN=True
HEADLESS=False
SCREEN_WIDTH=1920
SCREEN_HEIGHT=1080
BROWSER=chromium # chromium, firefox

# JENKINS
GMAIL_TOKEN_JENKINS_PATH_FLAG=False

# Borrar registro en caso de fallara la prueba
CLEANUP_TESTS_ON_FAILURE=True
