
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include "components/buttons/btn_volver.html" with back_url=return_url %}

<div class="container-fluid px-0 px-sm-0 px-md-4">
        <!-- Title Component -->
        {% include "components/comun/title.html" with title=title %}

        <div class="card-body">
            {% include "components/detail/data_grid.html" with fields=fields object=object%}
        </div>

        {% if movies %}
            <div class="row mb-3">
                <div class="col-12 mb-3">
                    <h2 class="fs-5 fw-bold primary-color-text">{% trans "Canciones" %}</h2>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped tablesorter table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">{% trans "Titulo" %}</th>
                                    <th class="text-center">{% trans "Cantidad" %}</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for movie in movies %}
                                <tr>
                                    <td>{{ movie.movie.title }}</td>
                                    <td>
                                        {{ movie.quantity }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
</div>
{% endblock content %}
