<div id="TableSorterCard" class="card card_rounded mb-4">
    <div class="card-body py-3 card-border-color card_rounded">
        <!-- Filter form -->
        <form class="search-form w-100" method="get" id="filters">
            <div class="row">
                <div class="col-md-12 bg-white" style="text-align: left;">
                    <div class="row">
                    {% if filter.body_template %}
                        {% include filter.body_template %}
                    {% else %}
                        {% for filter_name in filter.form %}

                            {% if filter.form.fields|length|divisibleby:"5" %}
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
                            {% elif filter.form.fields|length|divisibleby:"4" %}
                                <div class="col-12 col-sm-6 col-lg-3 my-3">
                            {% elif filter.form.fields|length|divisibleby:"3" %}
                                <div class="col-12 col-sm-6 col-lg-4 my-3">
                            {% elif filter.form.fields|length|divisibleby:"2" %}
                                <div class="col-12 col-sm-6 my-3">
                            {% else %}
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-3">
                            {% endif %}

                                <label class="form-label input-color fw-bold" for="{{ form.zone_name.id_for_label }}">{{ filter_name.label_tag }}</label>
                                <div class="input-group">
                                    {{ filter_name }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                        <div id="filter_actions" class="text-end m-0 p-2">
                            <button class="btn dark btn-sm reset btn_filtrar" type="submit">Filtrar</button>
                            <a href="{{ request.path }}" class="btn btn-sm reset btn_borrar_filtros"
                                type="button">
                                Borrar filtro{% if filter.form.fields|length > 1 %}s{% endif %}
                            </a>
                            {% comment %}
                            <button class="btn btn-warning btn-sm my-1 mr-1"
                                    id="zoom_in"
                                    type="button"
                                    zoomclick="ChangeZoomLevel(-10);">
                                <i class="fa fa-search-plus"></i>
                            </button>
                            <button class="btn btn-warning btn-sm my-1 mr-1"
                                    id="zoom_out"
                                    type="button"
                                    zoomclick="ChangeZoomLevel(-10);">
                                <i class="fa fa-search-minus"></i>
                            </button>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
