{% extends 'base.html' %}
{% load static %}
{% load utils %}
{% load i18n %}
{% block title %}
    {% trans title %}
{% endblock title %}
{% block css %}
{% endblock css %}
{% block content %}
    <!-- Start: Ludens - 1 Index Table with Search & Sort Filters -->
    <div class="container-fluid padding-padre">
        {% if return_url %}
            {% include "components/buttons/btn_volver.html" with back_url=return_url %}
        {% endif %}
        {% if create_url is not None and disable_url is not None %}
            {% include "components/index/page_header.html" with title=title create_url=create_url disable_url=disable_url permissions=permissions general_extra_actions=general_extra_actions %}
        {% elif disable_url is not None %}
            {% include "components/index/page_header.html" with title=title disable_url=disable_url permissions=permissions general_extra_actions=general_extra_actions %}
        {% elif create_url is not None %}
            {% include "components/index/page_header.html" with title=title create_url=create_url permissions=permissions general_extra_actions=general_extra_actions %}
        {% else %}
            {% include "components/index/page_header.html" with title=title general_extra_actions=general_extra_actions %}
        {% endif %}
        {% include "filter.html" %}
        <div class="card rounded-3" id="TableSorterCard">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        {% include "components/table/data_table.html" with fields=fields items=items delete_url=delete_url detail_url=detail_url edit_url=edit_url is_disabled_view=is_disabled_view can_disable=can_disable permissions=permissions extra_actions=extra_actions %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End: TableSorter -->
    </div>
    <!-- End: Ludens - 1 Index Table with Search & Sort Filters -->
    <!-- Pagination -->
    {% include 'pagination.html' %}
    <!-- Delete modal -->
    {% comment %} To modify the text in the modal, change the "subtitle" variable in IndexView {% endcomment %}
    {% include 'delete.html' %}
    {% if can_disable or is_disabled_view %}
        {% include 'enable.html' %}
    {% endif %}
{% endblock content %}
{% block js %}
    <script src="{% static 'assets/js/switch_events.js' %}"></script>
    <script src="{% static 'assets/js/disable_enable_switches.js' %}"></script>
{% endblock js %}
