# Environment variables for Plane execution in local dev
# when using CI the variables are set in the CI Jenkins environment

PLANE_API_KEY=PLANE_API_KEY
PLANE_WORKSPACE=PLANE_WORKSPACE
PLANE_PROJECT_ID=PLANE_PROJECT_ID
PLANE_BASE_URL=PLANE_BASE_URL
