{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% translate title %}
{% endblock %}
{% block content %}
    <div class="container-fluid px-0 px-sm-0 px-md-4">
        {% if cards %}
            <div class="row">
                <!-- Title section -->
                {% include "components/catalogos/title_section.html" with title=title %}
                <!-- Start cards -->
                {% for card in cards %}
                    {% include "components/catalogos/section_card.html" with catalogo_url=card.catalogo_url title=card.title %}
                {% endfor %}
                <!-- End cards -->
            </div>
        {% else %}
            {% include "403.html" %}
        {% endif %}
    </div>
{% endblock content %}
