{% load i18n %}
<form id="deleteForm" method="post">
    {% csrf_token %}
    <div class="modal fade" role="dialog" tabindex="-1" id="delete-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fs-5 text-title fw-bold">{% trans "Deshabilitar" %} {{ subtitle }}</h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="{% trans 'Cerrar' %}"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-6 text-dark">
                        {% trans "Si deshabilitas este elemento, podría estar relacionado con otro elemento, lo que podría afectar su funcionamiento." %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light btn_rounded btn-cancelar"
                            type="button"
                            data-bs-dismiss="modal">{% trans "Cancelar" %}</button>
                    <button class="btn btn-danger btn-primary btn-disable"
                            type="button"
                            onclick="formSubmit()">{% trans "Deshabilitar" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
